.t
{
    color: #1A1A1D;
    color:#4E4E50;
    color:#6F2232;
    color:#950740;
    color:#C3073F;
}


black, light blue, gray {
    color:#0B0C10;
    color:#1F2833;
    color:#C5C6C7;
    color:#66FCF1;
    color:#45A29E
}